# Build folders
build/
Debug/
Release/
ipch/
out/

# Dependencies folder
dependencies/

# Resources folder
res.zip

# Application produced files
imgui.ini
log.txt

# blend
*.blend1

# Visual Studio Files
.vs/
*.opensdf
*.sdf
*.suo
*.vcxproj.user
